<h1>Registrar cliente</h1>

@model ACF.WebPage.Models.ClienteViewModel
@{
    ViewData["Title"] = "Crear";
}

<section class="h-100">
    <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h1 class="fs-4 card-title fw-bold mb-4">Crear</h1>
                    <form method="POST" asp-action="Crear" class="needs-validation" novalidate="" autocomplete="off">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="primernombre">Primer Nombre</label>
                            <input asp-for="PrimerNombre" id="primernombre" type="text" class="form-control" name="primernombre" value="" autofocus>
                            <span asp-validation-for="PrimerNombre" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="primerapellido">Primer Apellido</label>
                            <input asp-for="PrimerApellido" id="primerapellido" type="text" class="form-control" name="primerapellido" value="" autofocus>
                            <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="Edad">Edad</label>
                            <input asp-for="PrimerNombre" id="edad" type="text" class="form-control" name="edad" value="" autofocus>
                            <span asp-validation-for="Edad" class="text-danger"></span>
                        </div>

                        <div class="d-flex align-items-center">
                            <button type="submit" id="ProductB" class="btn btn-outline-success ms-auto">Crear</button>
                        </div>
                        <div class="mb-3">
                            <span class="text-danger mb-2 w-100">@Html.ValidationMessage("CustomError")</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
